@media screen and (min-width :768px) {

  body{

    text-align: left;
  }

  
  
  .menu a{
    
    color:#2379a3;
    /* border: .5px solid #eee; */
    font-size: 16px;
    padding:25px 12px;
    box-sizing: border-box;
    
  }
  
  
  header.menu{
    text-align: center;
    width: 100%;
    margin:auto;
    background: #003C59;
    position: fixed;
    top:0; 
   
    font-size: 0px;
  }
  
  .menu-bar{
    align-items: center;
  }
      
  .menu-logo p{
    font-size: 30px;
    color: aliceblue;
    line-height: 1.5;
    
  }

  .bg{max-width: 1200px;}

  h1{ font-size: 48px;}

  h2{font-size: 40px;}

  h3{

    padding-right:10px;
    
    font-size: 32px;
    color:#555;
    word-spacing: 3px;
   
    white-space:pre-wrap;
  }


  h5{font-size: 18px;}

  p{
    
    font-size: 16px;

  }
  .reason-item{padding: 40px 0;}

  .item-img img{

    width: 60%;
  }

  input.email{
    
    width: 450px;
    margin-right:40px;
    padding: 8px 18px;
  
  
}

  button.cta-email{

    width: 300px;
    
    
    }
    .comment{text-align: center;}
  
    .comment-img{

      width: 38px;
      height:33px;
      margin:auto;
      
    
    }
   
    
    .comment-scroll  p.txt{
     
      padding: 20px 150px;
    
    }
  
  


}