@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body{

  
  font-family: 'Merriweather', serif;
}

.bg{
  width: 100%;
  max-width: 1200px;
  margin:auto;
  padding-top: 70px;
}
img{
  width:100%;
}

h1 {

  font-size: 48px;
  color:#fff;
  letter-spacing: .4px;
  line-height: 1.6;
  
}


h2{

  font-size: 40px;
  color:#252525;
  font-weight: 300;
  line-height: 1.55;
  
  
}

h3{

  padding-right:10px;
  padding: 25px 0 20px;
  font-size: 32px;
  line-height: 1.3;
  color:#555;
  word-spacing: 3px;
  font-weight: 300;
  white-space:pre-wrap;
  
}

h4{

  color: #555555;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45;

}


h5{
font-family:none;
font-size: 18px;
color:#66b8e0;
font-weight: 300;
line-height: 50px;
}

p{
  font-family: none;
  
  color:#7d7d7d;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
 
}

a {
  
  display:inline-block;
  text-decoration: none;
 
}


.btn{
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  width: 180px;
  background-color: #fc8f44;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  padding: 12px 25px;
  text-align: center;
  margin-top:50px ;
  line-height: 1.5;
  text-shadow: 0px 1px 6px rgba(1, 1, 1, 0.2);
}

.btn:hover{

  background:#f08237;
  transition:.8s;
  
}

.menu {
  text-align: center;
}

.menu a{
  
  color:#2379a3;
  /* border: .5px solid #eee; */
  font-size: 16px;
  padding:25px 12px;
  box-sizing: border-box;
  
}


header.menu{
  width: 100%;
  margin:auto;
  background: #003C59;
  position: fixed;
  top:0; 
 
  font-size: 0px;
}

.menu-bar{
  align-items: center;
}
    
.menu-logo p{
  font-size: 30px;
  color: aliceblue;
  line-height: 1.5;
  
}

.banner-bg{
  padding-top:70px ;
  width: 100%;
  height: 700px;
  background-color: #003C59;
  background-image:url("images/page01_img01.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (min-width:768px) {
  .banner-bg{
    
    background-size:auto;
  }

}

.banner-item{
  
  padding-top: 60px;
}


.intro-bg ,.feature-bg  {

  background: #edf4f8;
 
  
}

.intro-content{
  flex-direction: row-reverse;
}

.item-img img{width:60%;}

.reason-content{

  padding-bottom: 70px;

}
.reason-title{
  text-align: center;
  }
.reason-item{padding: 40px 0;}

